In [2]:
#Steven's Workbook for forecasting based on historical data.
# 12/31/19 row dropped
#

In [3]:
# Import the required libraries and dependencies
import numpy as np
import pandas as pd

In [4]:
# Read the data from the SPWR.csv file into a Pandas DataFrame
SPWR_stock_df = pd.read_csv("/Users/stevenhill/Desktop/project_1_group_2/data/SPWR.csv", index_col="Date")
CSIQ_stock_df = pd.read_csv("/Users/stevenhill/Desktop/project_1_group_2/data/CSIQ.csv", index_col="Date")
display(SPWR_stock_df.head())
display(CSIQ_stock_df.head())

                Open      High       Low     Close  Adj Close   Volume
Date
2020-01-02  5.173543  5.173543  5.029470  5.127701   5.127701  2764786
2020-01-03  5.062213  5.094957  4.813360  4.826457   4.826457  7053366
2020-01-06  4.734774  4.937787  4.643091  4.891945   4.891945  5552325
2020-01-07  4.905043  5.094957  4.833006  5.003274   5.003274  3223344
2020-01-08  4.963982  5.101506  4.885396  5.029470   5.029470  4496252

                 Open       High        Low      Close  Adj Close  Volume
Date
2020-01-02  22.360001  22.540001  22.040001  22.520000  22.520000  643300
2020-01-03  22.190001  22.440001  21.590000  21.799999  21.799999  809600
2020-01-06  21.309999  22.330000  21.100000  22.320000  22.320000  938000
2020-01-07  22.290001  22.600000  22.219999  22.360001  22.360001  596900
2020-01-08  22.370001  22.709999  22.110001  22.570000  22.570000  709800

In [5]:
# Format index
SPWR_stock_df['Date'] = pd.to_datetime(SPWR_stock_df.index)
CSIQ_stock_df['Date'] = pd.to_datetime(CSIQ_stock_df.index)

In [6]:
# Create two new data frames with just "Date" and "Close" 

SPWR_test_df = SPWR_stock_df[["Close"]]
SPWR_test_df = SPWR_test_df.rename(columns = {"Close" : "SPWR"})
SPWR_test_df.head()

                SPWR
Date
2020-01-02  5.127701
2020-01-03  4.826457
2020-01-06  4.891945
2020-01-07  5.003274
2020-01-08  5.029470

In [7]:
CSIQ_test_df = CSIQ_stock_df[["Close"]]
CSIQ_test_df = CSIQ_test_df.rename(columns = {"Close" : "CSIQ"})
CSIQ_test_df.head()

                 CSIQ
Date
2020-01-02  22.520000
2020-01-03  21.799999
2020-01-06  22.320000
2020-01-07  22.360001
2020-01-08  22.570000

In [8]:
ENPH_stock_df = pd.read_csv("/Users/stevenhill/Desktop/project_1_group_2/data/ENPH.csv", index_col="Date")
FSLR_stock_df = pd.read_csv("/Users/stevenhill/Desktop/project_1_group_2/data/FSLR.csv", index_col="Date")
JKS_stock_df = pd.read_csv("/Users/stevenhill/Desktop/project_1_group_2/data/JKS.csv", index_col="Date")
SEDG_stock_df = pd.read_csv("/Users/stevenhill/Desktop/project_1_group_2/data/SPWR.csv", index_col="Date")
DQ_stock_df = pd.read_csv("/Users/stevenhill/Desktop/project_1_group_2/data/DQ.csv", index_col="Date")

display(ENPH_stock_df.head())
display(FSLR_stock_df.head())
display(JKS_stock_df.head())
display(SEDG_stock_df.head())
display(DQ_stock_df.head())

                 Open       High        Low      Close  Adj Close   Volume
Date
2020-01-02  26.370001  29.350000  26.040001  29.340000  29.340000  7775400
2020-01-03  28.790001  29.730000  28.379999  29.290001  29.290001  4811000
2020-01-06  29.049999  29.660000  27.830000  29.660000  29.660000  4628800
2020-01-07  29.820000  30.200001  28.660000  29.990000  29.990000  5363100
2020-01-08  29.680000  31.500000  29.440001  31.000000  31.000000  5446100

                 Open       High        Low      Close  Adj Close   Volume
Date
2020-01-02  56.400002  57.259998  55.959999  57.240002  57.240002  1053800
2020-01-03  57.110001  57.660000  56.709999  57.020000  57.020000   943700
2020-01-06  56.009998  56.419998  54.779999  55.830002  55.830002  1535100
2020-01-07  55.759998  57.310001  55.759998  56.669998  56.669998   974200
2020-01-08  56.860001  57.110001  56.160000  56.700001  56.700001   725700

                 Open   High        Low  Close  Adj Close   Volume
Date
2019-12-31  22.090000  22.65  22.090000  22.49  21.518370   657300
2020-01-02  22.790001  23.85  22.590000  23.84  22.810047  1130300
2020-01-03  23.170000  23.65  22.480000  22.59  21.614050  1319300
2020-01-06  21.969999  22.57  21.799999  22.49  21.518370   997800
2020-01-07  22.650000  23.00  22.559999  22.74  21.757568   592700

                Open      High       Low     Close  Adj Close   Volume
Date
2020-01-02  5.173543  5.173543  5.029470  5.127701   5.127701  2764786
2020-01-03  5.062213  5.094957  4.813360  4.826457   4.826457  7053366
2020-01-06  4.734774  4.937787  4.643091  4.891945   4.891945  5552325
2020-01-07  4.905043  5.094957  4.833006  5.003274   5.003274  3223344
2020-01-08  4.963982  5.101506  4.885396  5.029470   5.029470  4496252

              Open    High     Low   Close  Adj Close   Volume
Date
2020-01-02  10.240  11.032  10.240  10.996     10.996  1278000
2020-01-03  10.956  11.102  10.810  10.890     10.890   879500
2020-01-06  10.838  10.840  10.502  10.770     10.770   621000
2020-01-07  10.698  10.834  10.560  10.672     10.672   475500
2020-01-08  10.682  10.932  10.682  10.876     10.876   773500

In [9]:
# Format index
ENPH_stock_df['Date'] = pd.to_datetime(ENPH_stock_df.index)
FSLR_stock_df['Date'] = pd.to_datetime(FSLR_stock_df.index)
JKS_stock_df['Date'] = pd.to_datetime(JKS_stock_df.index)
SEDG_stock_df['Date'] = pd.to_datetime(SEDG_stock_df.index)
DQ_stock_df['Date'] = pd.to_datetime(DQ_stock_df.index)

In [10]:
ENPH_test_df = ENPH_stock_df[["Close"]]
FSLR_test_df = FSLR_stock_df[["Close"]]
JKS_test_df = JKS_stock_df[["Close"]]
SEDG_test_df = SEDG_stock_df[["Close"]]
DQ_test_df = DQ_stock_df[["Close"]]

ENPH_test_df = ENPH_test_df.rename(columns = {"Close" : "ENPH"})
FSLR_test_df = FSLR_test_df.rename(columns = {"Close" : "FSLR"})
JKS_test_df = JKS_test_df.rename(columns = {"Close" : "JKS"})
SEDG_test_df = SEDG_test_df.rename(columns = {"Close" : "SEDG"})
DQ_test_df = DQ_test_df.rename(columns = {"Close" : "DQ"})

display(ENPH_test_df.head())
display(FSLR_test_df.head())
display(JKS_test_df.head())
display(SEDG_test_df.head())
display(DQ_test_df.head())

                 ENPH
Date
2020-01-02  29.340000
2020-01-03  29.290001
2020-01-06  29.660000
2020-01-07  29.990000
2020-01-08  31.000000

                 FSLR
Date
2020-01-02  57.240002
2020-01-03  57.020000
2020-01-06  55.830002
2020-01-07  56.669998
2020-01-08  56.700001

              JKS
Date
2019-12-31  22.49
2020-01-02  23.84
2020-01-03  22.59
2020-01-06  22.49
2020-01-07  22.74

                SEDG
Date
2020-01-02  5.127701
2020-01-03  4.826457
2020-01-06  4.891945
2020-01-07  5.003274
2020-01-08  5.029470

                DQ
Date
2020-01-02  10.996
2020-01-03  10.890
2020-01-06  10.770
2020-01-07  10.672
2020-01-08  10.876

In [11]:
# Combine into one Data frame 
data_list = [CSIQ_test_df, FSLR_test_df, ENPH_test_df, DQ_test_df, JKS_test_df, SEDG_test_df, SPWR_test_df]
combined_df = pd.concat(data_list, axis=1)
combined_df = combined_df.drop('2019-12-31')
combined_df

,CSIQ,FSLR,ENPH,DQ,JKS,SEDG,SPWR
Date,,,,,,,
2020-01-02,22.520000,57.240002,29.340000,10.996000,23.84,5.127701,5.127701
2020-01-03,21.799999,57.020000,29.290001,10.890000,22.59,4.826457,4.826457
2020-01-06,22.320000,55.830002,29.660000,10.770000,22.49,4.891945,4.891945
2020-01-07,22.360001,56.669998,29.990000,10.672000,22.74,5.003274,5.003274
2020-01-08,22.570000,56.700001,31.000000,10.876000,22.23,5.029470,5.029470
...,...,...,...,...,...,...,...
2024-04-04,18.540001,171.460007,120.779999,26.700001,23.83,2.850000,2.850000
2024-04-05,17.150000,174.600006,112.269997,27.040001,23.27,2.660000,2.660000
2024-04-08,17.370001,179.220001,115.239998,25.920000,23.68,2.620000,2.620000
2024-04-09,18.740000,184.699997,121.980003,26.959999,25.60,2.760000,2.760000
2024-04-10,17.360001,185.289993,119.599998,25.709999,25.32,2.550000,2.550000

In [12]:
display(ENPH_test_df.tail())
display(FSLR_test_df.tail())
display(JKS_test_df.tail())
display(SEDG_test_df.tail())
display(DQ_test_df.tail())
display(SPWR_test_df.tail())
display(CSIQ_test_df.tail())

                  ENPH
Date
2024-04-04  120.779999
2024-04-05  112.269997
2024-04-08  115.239998
2024-04-09  121.980003
2024-04-10  119.599998

                  FSLR
Date
2024-04-04  171.460007
2024-04-05  174.600006
2024-04-08  179.220001
2024-04-09  184.699997
2024-04-10  185.289993

              JKS
Date
2024-04-04  23.83
2024-04-05  23.27
2024-04-08  23.68
2024-04-09  25.60
2024-04-10  25.32

            SEDG
Date
2024-04-04  2.85
2024-04-05  2.66
2024-04-08  2.62
2024-04-09  2.76
2024-04-10  2.55

                   DQ
Date
2024-04-04  26.700001
2024-04-05  27.040001
2024-04-08  25.920000
2024-04-09  26.959999
2024-04-10  25.709999

            SPWR
Date
2024-04-04  2.85
2024-04-05  2.66
2024-04-08  2.62
2024-04-09  2.76
2024-04-10  2.55

                 CSIQ
Date
2024-04-04  18.540001
2024-04-05  17.150000
2024-04-08  17.370001
2024-04-09  18.740000
2024-04-10  17.360001

In [14]:
# Convert completed data fram into a csv for group to use
combined_df.to_csv('combined_data_index.csv')